<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TODO</title>
    <!-- Bootstrap4 CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="app" class="container">
      <!-- edit modal -->
        <modal v-if="showModal" @close="showModal = false">
          <h3 slot="header">編集</h3>
          <h4 slot="body">
            {{ todos[editId].title}}
            <input type="text" v-model="todos[editId].title" class="col-md-8 offset-md-2 mt-5 form-control">
          </h4>
        </modal>
      <!-- edit modal -->
      <div class="card-deck mb-3 pt-5">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h1 class="my-0 font-weight-normal text-center">
              My Todos
              <span class="info">( {{remaining.length}}/{{todos.length}} )</span>
              <button @click="purge" class="btn btn-primary ml-5">終了したTodoを消す</button>
            </h1>
          </div>
          <div class="card-body">
            <ul class="ml-5 pt-3">
              <li v-for="(todo, index) in todos" class="list-unstyled h4 pb-3">
                <input type="checkbox" v-model="todo.isDone">
                <span :class="{done: todo.isDone}" id="show-modal" @dblclick="editItem(index)"><mark>{{ todo.title }}</mark></span>
                <span @click="deleteItem(index)" class="text-primary">[x]</span>
                <span class="ml-3 date"><em>{{ todo.date }}</em></span>
              </li>
              <li v-show="!todos.length" class="list-unstyled h4">Todoはありません</li>
            </ul>
            <form @submit.prevent="addItem">
              <input type="text" v-model="newItem" placeholder="新しいTodo..." class="col-md-8 offset-md-2 mt-5 form-control">
              <input type="submit" value="追加する" class="btn btn-primary mt-3 col-md-8 offset-md-2">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  
 <!--  modal-template -->
  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
              <slot name="header">
                default header
              </slot>
            </div>
            <div class="modal-body">
              <slot name="body">
                default body
              </slot>
            </div>
            <div class="modal-footer">
              <slot name="footer">
                <button class="btn btn-primary" @click="$emit('close')">
                  OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>
  <!--  modal-template -->

  <!-- Bootstrap4 CDN -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Vue.js CDN -->
  <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- 本番バージョン、サイズと速度のために最適化されています -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="main.js"></script>
</html>
